<div class="row">
  <div class="col">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{ todo.name }} {{ todo.content }}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash"
          aria-hidden="true"
        ></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name :
    <input [(ngModel)]="todo.name" type="text" class="form-control" /> content :
    <input [(ngModel)]="todo.content" type="text" class="form-control" />
    <button
      (click)="addTodo()"
      [disabled]="!todo.name.trim().length || !todo.content.trim().length"
      class="btn btn-primary mt-2"
    >
      Add Todo
    </button>
  </div>
</div>
